<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.careerguide">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/career"
        android:label="@string/app_name"
        android:roundIcon="@drawable/career"
        android:supportsRtl="true"
        android:theme="@style/Theme.CareerGuide"
        tools:targetApi="31">
        <activity
            android:name=".AiActivity"
            android:exported="false"
            android:label="@string/ai_name"/>
        <activity
            android:name=".androidActivity"
            android:exported="false"
            android:label="@string/android_name"/>
        <activity
            android:name=".webActivity"
            android:exported="false"
            android:label="@string/web_name"/>
        <activity
            android:name=".internActivity"
            android:exported="false"
            android:label="@string/internship_name"/>
        <activity
            android:name=".opensourceActivity"
            android:exported="false"
            android:label="@string/open_name"/>
        <activity
            android:name=".hackathonsActivity"
            android:exported="false"
            android:label="@string/hackathon_name"/>
        <activity
            android:name=".techdomainActivity"
            android:exported="false"
            android:label="@string/tech_name"/>
        <activity
            android:name=".splashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>